<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ACE 2.0 Demo</name>
    <description>
    A sample Apache Cordova application that responds to the deviceready event.
  </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
    Apache Cordova Team
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="hook.js" type="before_build" />
    <hook src="hook.js" type="before_prepare" />
    <hook src="hook.js" type="before_emulate" />
    <hook src="hook.js" type="before_run" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="windows-target-version" value="10.0" />
    <preference name="WindowsStoreDisplayName" value="ACE 2.0 Demo" />
    <vs:toolsetVersion xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">6.3.1</vs:toolsetVersion>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="windows" spec="~6.0.1" />
    <engine name="android" spec="5.2.1" />
    <engine name="ios" spec="4.2.0" />
</widget>
